body {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  background-color: #404c62;
}

.wrap {
  padding-top: 40px;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin-right: 20px;
  margin-bottom: 40px;
  width: 250px;
  box-shadow: 0px 4px 36px 0px rgba(51,51,51,0.2);
}

/* .card:first-child {
  display: none;
} */

.card:nth-child(4n) {
  margin-right: 0;
}

.card-img {
  width: inherit;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to bottom, rgba(38,38,38,0) 0%, rgba(38,38,38,0.3) 100%);
}

.card-img__img {
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: -1;
  border-radius: 7px 7px 0 0;
}

.card-img__title {
  margin-left: 10px;
  font-weight: 700;
}

.card-img__info {
  display: flex;
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 12px;
}

.card-img__gender {
  margin-right: 5px;
}

.card-info {
  padding: 10px 30px 5px 10px;
  background: linear-gradient(45deg, rgba(38,38,38,1) 0%, rgba(38,38,38,0.5) 100%);
  border-radius: 0px 0px 7px 7px;
}

.card-info-list {
  margin-bottom: 10px;
}

.card-info-list__title {
  font-size: 12px;
  opacity: 0.8;
}

.card-info-list__text {
  font-size: 12px;
} 

.add-button {
  margin: auto;
  margin-bottom: 40px;
  display: block;
  padding: 10px 40px;
  font-family: "Montserrat";
  font-size: 18px;
  color: #ff6565;
  background-color: transparent;
  border: 2px solid #FF6565;
  border-radius: 15px;
  cursor: pointer;
  transition: .3s;
}

.add-button:hover {
  color: #F56F6F;
  border-color: #F56F6F;
}

.add-button:focus {
  color: #E14747;
  border-color: #E14747;
}

@media(max-width: 1200px) {
  .card {
    width: 210px;
  }

  .card-img {
    height: 230px;
  }
}

@media(max-width: 993px) {
  .card:nth-child(4n) {
    margin-right: 20px;
  }

  .card:nth-child(3n) {
    margin-right: 0;
  }
}

@media(max-width: 768px) {
  .wrap {
    justify-content: center;
  }
  .card {
    margin-right: 40px;
  }

  .card:nth-child(3n) {
    margin-right: 40px;
  }

  .card:nth-child(2n) {
    margin-right: 0;
  }
}

@media(max-width: 576px) {
  .wrap {
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin-right: 0;
  }

  .card:nth-child(3n) {
    margin-right: 0;
  }
}