body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  background-color: #FFDC73;
  transition: background-color .5s
}

.wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#change {
  padding: 10px 40px;
  margin-top: 30px;
  display: block;
  text-align: center;
  color: #FFDC73;
  font-size: 24px;
  font-weight: 700;
  background-color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  transition: color .5s
}